/*
* @Author: Ryan
* @Date:   2016-03-15 18:13:49
* @Last Modified by:   Ryan
* @Last Modified time: 2016-03-15 18:23:32
*/

* {
    margin: 0;
    padding: 0;
}

div {
    padding: 20px;
    background-color: #eee;
    border: 1px solid #999;
}

.container {
    width: 100%;
    margin: 20px;
}

.team {
    width: 200px;
}
